In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time

In [18]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news'
browser.visit(url)

### JPL Mars Space Images Featured Image

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

### News Title

In [6]:
news_title = soup.find('div', class_="content_title").text
print(news_title)

NASA Social Media and Websites Win Webby Awards

### News paragraph

In [12]:
news_p = soup.find('div', class_="article_teaser_body").text
print(news_p)

NASA's social media presence, the InSight mission social media accounts, NASA.gov and SolarSystem.NASA.gov will be honored at the 2019 Webby Awards - "the Oscars of the Internet."

### JPL Mars Space Images - Featured Image

In [59]:


html = browser.html
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
browser.click_link_by_partial_text('FULL IMAGE')

In [60]:
browser.click_link_by_partial_text('more info')

In [61]:
browser.click_link_by_partial_href('largesize')

In [62]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
bod = soup.find_all("img")
print(bod)

[<img height="890" src="https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18292_hires.jpg" style="-webkit-user-select: none;cursor: zoom-in;" width="890"/>]

In [64]:
for val in bod:
    get_val = val["src"]
    print(get_val)
    
featured_image_url = get_val
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18292_hires.jpg
https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18292_hires.jpg

## Mars Weather

In [18]:

url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
html = browser.html

In [19]:
soup = BeautifulSoup(html, 'html.parser')
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

InSight sol 149 (2019-04-28) low -98.8ºC (-145.8ºF) high -19.5ºC (-3.0ºF)
winds from the SW at 4.6 m/s (10.2 mph) gusting to 14.2 m/s (31.7 mph)
pressure at 7.40 hPapic.twitter.com/IaUxdVEgb7

## Mars Facts

In [19]:
url = 'https://space-facts.com/mars/'

In [20]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [61]:
df = tables[0]
df.head(8)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC

In [62]:
df = df.rename(columns={0: "", 1: ""})

df

0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

   index
0      0  Equatorial Diameter:                       6,792 km
1      1       Polar Diameter:                       6,752 km
2      2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3      3                Moons:            2 (Phobos & Deimos)
4      4       Orbit Distance:       227,943,824 km (1.52 AU)
5      5         Orbit Period:           687 days (1.9 years)
6      6  Surface Temperature:                  -153 to 20 °C
7      7         First Record:              2nd millennium BC
8      8          Recorded By:           Egyptian astronomers

In [41]:
df=df.set_index('Description')
df

Empty DataFrame
Columns: []
Index: [(Equatorial Diameter:, 6,792 km), (Polar Diameter:, 6,752 km), (Mass:, 6.42 x 10^23 kg (10.7% Earth)), (Moons:, 2 (Phobos & Deimos)), (Orbit Distance:, 227,943,824 km (1.52 AU)), (Orbit Period:, 687 days (1.9 years)), (Surface Temperature:, -153 to 20 °C), (First Record:, 2nd millennium BC), (Recorded By:, Egyptian astronomers)]

In [33]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

## Mars Hemispheres

In [14]:
#https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

time.sleep(5)

In [15]:
# find first hemisphere info

In [16]:
browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')
time.sleep(5)

In [10]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
i_soup = soup.find('a',target='_blank')
# print(i_soup)

<a href="http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" target="_blank">Sample</a>

In [11]:
title_hem1 = soup.find('h2',class_='title').text
print(title_hem1)

Cerberus Hemisphere Enhanced

In [41]:
i_soup = soup.find('a',target='_blank')
for i in i_soup:
    hem_img1_link = i_soup["href"]
    print(hem_img1_link)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [42]:
# find second hemisphere info

In [43]:
browser.click_link_by_partial_text('Back')

In [44]:
browser.click_link_by_partial_text('Schiaparelli Hemisphere Enhanced')

In [45]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title_hem2 = soup.find('h2',class_='title').text

print(title_hem2)

Schiaparelli Hemisphere Enhanced

In [46]:
j_soup = soup.find('a',target='_blank')
for j in j_soup:
    hem_img2_link = j_soup["href"]
    print(hem_img2_link)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg

In [47]:
# find third hemisphere info

In [48]:
browser.click_link_by_partial_text('Back')

In [49]:
browser.click_link_by_partial_text('Syrtis Major Hemisphere Enhanced')

In [50]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title_hem3 = soup.find('h2',class_='title').text

print(title_hem3)

Syrtis Major Hemisphere Enhanced

In [51]:
k_soup = soup.find('a',target='_blank')
for k in k_soup:
    hem_img3_link = k_soup["href"]
    print(hem_img3_link)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg

In [52]:
# find fouth hemisphere info

In [53]:
browser.click_link_by_partial_text('Back')

In [54]:
browser.click_link_by_partial_text('Valles Marineris Hemisphere Enhanced')

In [55]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title_hem4 = soup.find('h2',class_='title').text

print(title_hem4)

Valles Marineris Hemisphere Enhanced

In [56]:
l_soup = soup.find('a',target='_blank')
for l in l_soup:
    hem_img4_link = l_soup["href"]
    print(hem_img4_link)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg